.modal-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #0A222C;
  padding: 10px 20px;
}

.nav-arrow {
  font-size: 24px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.nav-arrow:hover {
  color: #00c3ff;
  transform: scale(1.2);
}
