.footer {
  height: 130px;
  min-height: 130px;
  flex-shrink: 0;
  box-shadow: 0px -1px 10px #c2c0c0;
  padding: 0 4%;
  background-color: #0A222C;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  bottom: 0;
}


@media( max-width: 800px){
    footer{
      
        
        height: 80px;
        min-height: 80px;
       
    }

}


@media( max-width: 400px){
    footer{
      
        
        height: 40px;
        min-height: 40px;
      
       
    }

}